@font-face {
  font-family: HelveticaNeue;
  src: url("accessories/helveticaneue.woff") format('woff');
}

body {
  padding-top: 39px;
  margin: 0;
  font-family: "HelveticaNeue", Roboto, Arial;
}

.title {
  text-decoration: none;
  font-family: Segoe UI;
  margin: 24px;
}

h1 {
  text-decoration: none;
  font-family: "HelveticaNeue", Raleway, Roboto, Arial;
  font-size: 48px;
}

a {
  text-decoration: none;
  font-family: "HelveticaNeue", Roboto, Arial;
  font-weight: bold;
  color: blue;
}

.header {
  padding-left: 25px;
  padding-top: 30px;
  color: white;
  font-family: "HelveticaNeue", Roboto, Arial;
}

.headerblack {
  padding-left: 25px;
  padding-top: 30px;
  color: black;
  font-family: "HelveticaNeue", Roboto, Arial;
}

.content {
  display: flex;
  flex-direction: row;
/*  width: 100vw;
  height: 100vh;
*/
  width: 100%;
  height: 100%;
  min-height: 600px;
  left: 0;   
  position: relative;   
}

.subtext {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 10;
  /*left: 9px;*/
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
}

.text {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  color: black;
  font-family: "HelveticaNeue", Roboto, Raleway, Arial;
  font-size: 20px;
}

.gallery {
  padding-left: 180px;
}

small {
  margin-left: 24px;
  color: gray;
}

#bar {
  background-color: #333;
  width: 100%;
  height: 47px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

#navigation {
  padding: 0;
  padding-left: 50px;
  background-color: #333;
  height: 47px;
  margin: auto;
}

#navigation ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navigation li {
  float: left;
  border-right: 1px solid #BBB;
  border-left: 1px solid #BBB;
}

#navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-family: "HelveticaNeue", Roboto;
}

#navigation li a:hover {
  background-color:#888
}

#section0 {
  background-image: url("files/tinkl_logo.png");
  background-position: left top, 0% 45%;
  background-size: cover, 100%;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
}

#section1 {
  background-image: url("files/stock1.jpg");
  background-position: left top, 0% 45%;
  background-size: cover, 60%;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  min-height: 660px;
  
}

#section2 {
  padding-top: 60px;
  background-image: url("files/stock4.jpg");
  background-position: left top, 0% 45%;
  background-size: cover, 60%;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
}

#section3 {
  padding-top: 60px;
  background-image: url("files/stock2.jpg");
  background-position: left top, 6% 45%;
  background-size: cover, 60%;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
}

#section4 {
  padding-top: 60px;
/*  background-image: url("files/stock4.jpg"); */
/*  background: -webkit-linear-gradient(top #ffffff, bottom #e8e8e8); */
  background-position: left top, 6% 45%;
  background-size: cover, 60%;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  min-height = 500px;
/*  border-bottom: 3px solid #e8e8e8;*/
}

/*
#section4gallery {

}
*/

#section5 {
  padding-top: 60px;
/*  background-image: url("files/stock1.jpg");*/
/*  background: -webkit-linear-gradient(#ffffff, #e8e8e8); */
  background: #f4f4f4; 
  background-position: left top, 6% 45%;
  background-size: cover, 60%;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  min-height: 1000px;
}

#header5 {
  color: black;
}

#sectionteam {
  display: block;
  padding-top: 60px;
  background: white;
  background-position: left top, 6% 45%;
  background-size: cover, 60%;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
}

#header4 {
  color: black;
}

#headerteam {
  color: black;
}

#text1 {
  left: 0;
}

#text2 {
  right: 0;
}

#text3 {
  left: 0;
}

#text4l {
  left: 0;
}

#text4r {
  right: 0;
}

#text5l {
  left: 0;
}

#text5r {
  right: 0;
}

#description {
  color: grey;
}

#return {
  text-decoration: none;
  font-size: small;
  color: blue;
}
